/* Viewports */
@-o-viewport { width: auto, device-width; zoom: 1; }
@-ms-viewport { width: auto, device-width; zoom: 1; }
@viewport { width: auto, device-width; zoom: 1; }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--fontSans);
  margin: 0;
}

/*https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content*/
@custom-selector :--h1 h1, .h1-like;
@custom-selector :--h2 h2, .h2-like;
@custom-selector :--h3 h3, .h3-like;
@custom-selector :--h4 h4, .h4-like;
@custom-selector :--h5 h5, .h5-like;
@custom-selector :--h6 h6, .h6-like;
@custom-selector :--hn h1, h2, h3, h4, h5, h6, .h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like, .hn;

@custom-selector :--typographySection blockquote, dl, ol, p, pre, ul, .§;
@custom-selector :--list dl, ol, ul, .list;

@custom-selector :--link a, .link;

:--hn,
:--typographySection {
  line-height: var(--baseline);
  margin: calc(var(--baseline) / 2) 0;
  text-rendering: optimizeLegibility;
}


/* ## Heading */
:--hn {
  color: var(--base02);
  /*font-family: var(--fontSerif);*/
  font-weight: 400;
  text-rendering: geometricPrecision;
}

:--h1  {
  font-size: calc(var(--baseline) * 2);
  font-weight: 900;
  line-height: calc(var(--baseline) * 3);
}

:--h2 {
  font-size: calc(var(--baseline) * 1.5);
  line-height: calc(var(--baseline) * 2);
}

:--h3 {
  font-size: var(--baseline);
  line-height: calc(var(--baseline) * 1.5);
}

:--h4 {
  font-weight: 700;
}

:--h5 {
  font-style: italic;
  font-weight: 300;
}


/* ## Section Breaks */
blockquote,
:--list {
  margin-left: var(--baseline);
  padding-left: calc(var(--baseline) / 2);
}

blockquote,
:--list.flattened,
:--list.flattened li,
:--list.inlined,
:--list.inlined li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

:--list.inlined li {
  display: inline-block;
}

li {
  list-style: square;
}

/* ## Links */
:--link:link {
  background: transparent;
  border: 0;
  color: var(--linkColor);
  transition: color calc(var(--timer) / 3);
}

:--link:hover, :--link:focus {
  color: color(var(--linkColor) lightness(+25%));
}

:--link:active,
:--link:visited {
  color: color(var(--linkColor) blackness(+50%));
}
