@charset "UTF-8";

/* ColorScheme */
:root {
  --dark0: #000;
  --dark: #343230;
  --dark1: #30393b;

  --neutral0: #9d8958;
  --neutral: #a58d5f;
  --neutral1: #a89968;

  --light0: #dcd7d2;
  --light: #f1ece1;
  --light1: #fcfbf8;

  --yellow: yellow;
  --orange: orange;
  --red: red;
  --magenta: magenta;
  --violet: violet;
  --blue: blue;
  --cyan: cyan;
  --green: green;
}

/* Typography */
:root {
  --background: var(--light0);
  --foreground: var(--dark);
  --linkColor: var(--blue);
  --fontMono: "Fira Code", "Fira Mono", monospace;
  --fontSans: "Fira Sans", sans-serif;
  --fontSmall: var(--fontSans);
  --fontSerif: "Merriweather", serif;
  --fontSize: 1rem;
  --baseline: 1.5rem;
}

:root {
  --timer: .75s;
}

/* Grids */
@custom-media --viewport-tiny (width <= 40rem);
@custom-media --viewport-small (width <= 50rem);
@custom-media --viewport-medium (width <= 75rem);
@custom-media --viewport-large (width <= 100rem);
