<footer role="contentinfo" id="legals" class="site-footer" itemprop="hasPart" itemscope itemtype="https://schema.org/WPFooter">
  <a href="#top" class="a11y-sr-only focusable" title="BRevenir en haut de la page">&#x21ef;</a>

  <div class="copyright site-footer__content">
    <p>©2016-{{ moment format="YYYY"}} {{ author.alias }}, All Right Reserved.</p>
  </div>
</footer>
