<a href="/"
  class="site-logo"
  rel="home"
  tabindex="1"
  aria-label="Go to homepage">
  <span
    aria-labelledby="logotype-label"
    aria-descriptedby="logotype-desc">
    <span aria-hidden="true" role="presentation" tabindex="-1">
      <svg
        id="main-logotype"
        class="site-logo__pict logo logo--svg"
        height="{{ width }}"
        width="{{ height }}">
        <use xlink:href="#logotype" />
      </svg>
    </span>
  </span>
</a>
