<!-- A11y Quick Menu -->
<nav id="quick-menu" class="site-quick-menu">
  <h2 class="a11y-sr-only">Navigation rapide</h2>
  <ul class="a11y-sr-only a11y-sr-only--focusable">
    <li><a href="#content" tabindex="1">Aller au contenu</a></li>
    <li><a href="#main-menu" tabindex="1">Aller au menu principal</a></li>
    <li><a href="#main-footer" tabindex="1">Consulter les informations légales</a></li>
    <li><a href="{{ issueUrl }}" tabindex="1">Report an issue</a></li>
  </ul>
</nav><!-- #quick-menu -->
