<!DOCTYPE html>
<html lang="{{ lang }}">
  {{> head page = pages.home }}
  <body class="homepage no-js" itemscope itemtype="https://schema.org/WebSite">
    {{> sprite }}
    {{> quick-menu }}
    <div class="site-wrapper" id="top">

      <header id="banner" role="banner" class="site-header">
        <div class="site-header__inner" itemprop="hasPart" itemscope itemtype="https://schema.org/WPHeader">
          <h1 id="sitename" class="site-headline" itemprop="name">
            {{ author.firstname }} {{ author.lastname }}
          </h1>
          <p class="lead">{{ pages.home.description }}</p>
        </div>
      </header>

      <main role="main" id="content" class="site-content wrapper">

        <div class="site-menu site-menu-home">
          {{> main-menu }}
        </div>

        <figure id="home-stage" class="home-stage stage stage--off">
          <div aria-labelledby="mp-label" aria-describedby="mp-desc">
            {{> main-picture }}
          </div>
          <figcaption class="home-stage__caption">
            <p>Lorem ipsum...</p>
          </figcaption>
        </figure>

        <article id="home-article" class="homepage__content">
          <!-- <div class="preamble">
          <h2>Préambule</h2>
          <p>Hello World</p>
        </div> -->
        </article>

      </main>

    {{> footer }}
    </div>
  </body>
</html>
