<!DOCTYPE html>
<html lang="{{ lang }}">
  {{> head page = pages.home }}
  {{> sprite }}
  <body class="homepage" itemscope itemtype="https://schema.org/WebSite">
    <div class="site-wrapper" id="top">

      {{> quick-menu }}

      <header id="banner" role="banner" class="site-header">
        <div itemprop="hasPart" itemscope itemtype="https://schema.org/WPHeader">
          <h1 id="sitename" class="site-headline" itemprop="name">
            {{> logo width=100 height=100 }}
          </h1>
        </div>
      </header>

      <main role="main" id="content" class="site-content wrapper" tabindex="-1">
        <div class="site-menu site-menu-home">
          {{> main-menu }}
        </div>

        <article id="home-article" class="homepage__content">

          <div class="preamble">
            <h2>Préambule</h2>
            <p>Hello World</p>
          </div>

          <figure id="home-stage" class="home-stage stage stage--off">
            <svg id="home-canvas" class="home-stage__canvas">
              <!-- Do Something... -->
            </svg>
            <figcaption class="home-stage__caption">
              <p>Lorem ipsum...</p>
            </figcaption>
          </figure>

        </article>

      </main>

      {{> footer }}

    </div>
  </body>
</html>
